<body>
<div class="row no-gutters" id="cental_panel" >
  <div class="col-md-2"></div>

  <div class="col-md-8" >
    <div class="card">
      <div class="card-header h2"> Podstawowe Informacje </div>
      <div class="card-body">



        <span class="text-success"> Warto wiedzieć...</span>

        <p class="tekst">
          League of Legends (LoL) jest grą inspirowaną popularną modyfikacją Defense of the Ancients (DotA) do gry Warcraft III: The Frozen Throne. Producentem League of Legends jest studio Riot Games, które stało się rozpoznawalne właśnie dzięki temu tytułowi.
<br>
          LoL należy do gatunku MOBA, czyli kategorii łączącej strategię czasu rzeczywistego i rozgrywkę online odbywającą się na arenie. Rozgrywka opiera się o model freemium, a więc poza darmową zabawą po dokonaniu płatności dostępne stają się dodatkowe, zaawansowane funkcje.
<br>
          Podczas ceremonii Golden Joystick Award gra League of Legends zdobyła dwie nagrody – w 2010 roku był to tytuł najlepszej gry roku, a w 2011 tytuł najlepszej gry free-to-play.
<br>
          League of Legends – fabuła
          Akcja gry League of Legends rozgrywa się w świecie fantasy Valoran, czyli ogarniętej wojnami krainie. Niekończący się konflikt postanowiono rozwiązać w nietypowy sposób. Przedstawiciele poszczególnych nacji walczą w pojedynkach na arenie, by w tej sposób zakończyć spory bez wywoływania wojen na wielką skalę.

          League of Legends – rozgrywka
          W League of Legends gracz ma do czynienia z rozgrywką łączącą elementy RPG z elementami RTS. Podstawą jest planowanie strategii, refleks, a także kooperacja z innymi członkami drużyny. Ważna jest też internetowa społeczność League of Legends i zdobywanie coraz wyższej pozycji w rankingach. Zaawansowani gracze mogą być też zainteresowani dołączeniem do społeczności e-sportu i udziałem w turniejach takich jak Championship Series.
<br>
          Początkujący gracze mogą skorzystać z samouczków i walk drużynowych z SI. Inna propozycja to gry niestandardowe, podczas których możemy zorganizować starcia ze znajomymi, a nawet ograniczyć do nich dostęp hasłem.
        </p>




      </div>

      <div *ngIf="g.admin">ADMIN MODE</div>


      <div class="card-footer">
        <div class="text-right">
          <button class="btn btn-outline-info" *ngIf="g.admin">submit</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-2"></div>
</div>


</body>
