<div class="row no-gutters">
  <div class="col-sm-12">
    <div class="mask">
      <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-sm-12 col-xl-8 p-5">

          <div class="jumbotron">
            <h1 class="display-4">Pasja,Rozrywka, E-Sport</h1>
            <p class="lead">
              <br>
              To Gracze Tworzą Społeczność.

              Cała strona poświecona jest Wam, fanom gry League of Legends.
              </p>
            <hr class="my-4">
            <p class="g1">Dowiedz się więcej juz teraz, i dołącz do społeczności milionów graczy!</p>
            <a class="btn btn-dark" href="#" size="180px" role="button" [routerLink]="['/stats']"> Wchodzę!</a>
          </div>
          <div class="col-xl-2"></div>


        </div>
      </div>
    </div>
    <video src="../assets/lol.mp4" controls
             [autoplay]="true" [muted]="true" [loop]="true" playsinline>
      </video>
  </div>
</div>

